{% extends 'base1.html' %}

{% block title %}Booking Confirmation{% endblock %}

{% block content %}
<main class="main-content min-vh-100 col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Booking Confirmation</h1>
    </div>
    <div class="container">
        <h1>Booking Confirmation</h1>
        <p>You have successfully booked the service: <strong>{{ service.service_name }}</strong></p>
        <p>Installer: {{ service.installer.user.username }}</p>
        <p>Price: £{{ service.price }}</p>
        <p>Description: {{ service.description }}</p>
        <p>Installer Address: {{ service.installer.user.profile.address }}</p>

        <a href="{% url 'installation_services' %}" class="btn btn-primary mt-3">Back to Services</a>
    </div>
</main>
{% endblock %}
