{% extends 'base1.html' %}
{% load static %}
{% block title %}Installation Details{% endblock %}

{% block content %}
<main class="main-content min-vh-100 col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Installation Details</h1>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Installation for {{ installation.customer_profile.user.username }}</h4>
        </div>
        <div class="card-body">
            <p><strong>Panel Size:</strong> {{ installation.solar_panel_size }} kW</p>
            <p><strong>Installation Date:</strong> {{ installation.installation_date }}</p>
            <p><strong>Total Price:</strong> £{{ installation.total_price }}</p>
            <p><strong>Status:</strong> {{ installation.status|capfirst }}</p>
            <p><strong>Additional Notes:</strong> {{ installation.notes }}</p>

            <!-- You can add more fields here if you have other details to show -->

            <a href="{% url 'completed_installations' %}" class="btn btn-primary">Back to Completed Installations</a>
        </div>
    </div>
</main>
{% endblock %}