{% extends 'base1.html' %}

{% load static %}
{%block title %} Settings{% endblock %}

{% block content %}
<main class="main-content min-vh-100 ">
    <div class="container mt-5">
        <h2>Account Settings</h2>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>








</main>
{% endblock %}