{% extends 'base1.html' %}

{% block title %} Update Installation Service {% endblock %}

{% block content %}
<main class="main-content min-vh-100 col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Update Installation Service</h1>
    </div>

    <h4>Installer Name: {{ service.installer.user.username }}</h4>
    <h5>Installer Address: {{ service.installer.address }}</h5>  <!-- assuming 'address' is a field in the Profile model -->

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Update Service</button>
    </form>

    <br>
    <a href="{% url 'installer_dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
</main>
{% endblock %}
